.gridcell {
    border: 1px solid #C7C7CC;
    border-radius: 16px;
    width: 229px;
    padding: 1.5rem;
    cursor: pointer;
    transition: 300ms ease-in;
    background: transparent;
}

.gridcell:not(.selected):hover {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
}

.selected {
    background: #161616;
}

.selected span {
    color: #FFFFFF;
    transition: 400ms;
}
